<%- include("partials/header") %>
<link rel="stylesheet" href="/admin/css/settings.css">
<%- include("partials/sidebar") %>

  <!-- Content -->
  <div class="content">
    <h1>Settings</h1>

    <form action="/admin/settings/update" method="POST">

      <input type="hidden" name="settings_id" value="<%=settings.id%>">
      <!-- Setting 1 -->
      <div class="setting-item">
        <label for="maintenance">Enable Site Maintenance</label>

        <label class="toggle-switch">
          <input type="checkbox" id="maintenance" name="maintenance_enabled" <%if(settings.maintanence_enabled){%>checked<%}%>>
          <span class="slider"></span>
        </label>
      </div>

      <!-- Setting 2 -->
      <div class="setting-item">
        <label for="show_phone">Enable Contact Form</label>

        <label class="toggle-switch">
          <input type="checkbox" id="show_phone" name="allow_contact" <%if(settings.allow_contact) {%>checked<%}%>>
          <span class="slider"></span>
        </label>
      </div>

      <button type="submit">Save Settings</button>
    </form>
  </div>

  <% if (success) { %>
<script>
  iziToast.success({
    title: 'Success',
    message: <%- JSON.stringify(success) %>,
    timeout: 5000,

    // CUSTOM SIZE
    maxWidth: 500,       // increase width (default ~350px)
    titleSize: '24px',   // bigger title font
    messageSize: '18px', // bigger message font
    padding: 30,         // more padding inside toast
    balloon: true,       // optional: makes it more prominent
  });
</script>
<% } %>

<% if (error) { %>
<script>
  iziToast.error({
    title: 'Error',
    message: <%- JSON.stringify(error) %>,
    timeout: 5000,

    // CUSTOM SIZE
    maxWidth: 500,       // increase width (default ~350px)
    titleSize: '24px',   // bigger title font
    messageSize: '18px', // bigger message font
    padding: 30,         // more padding inside toast
    balloon: true,       // optional: makes it more prominent
  });
</script>
<% } %>


<%- include("partials/footer") %>