<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>

<div class="content" id="content">
  <h1>Edit Skill (<%= skill.name%>)</h1>

  <form action="/admin/skills/update" method="POST">
    
    <div class="form-group">
        <input type="hidden" name="skill_id" value="<%= skill.id %>">
      <label>Skill Name</label>
      <input type="text" name="name" value="<%= skill.name %>" required>
    </div>

    <button type="submit" class="btn-add">Update Skill</button>
  </form>
</div>

<% if (success) { %>
<script>
  iziToast.success({
    title: 'Success',
    message: <%- JSON.stringify(success) %>,
    timeout: 5000,

    // CUSTOM SIZE
    maxWidth: 500,       // increase width (default ~350px)
    titleSize: '24px',   // bigger title font
    messageSize: '18px', // bigger message font
    padding: 30,         // more padding inside toast
    balloon: true,       // optional: makes it more prominent
  });
</script>
<% } %>

<% if (error) { %>
<script>
  iziToast.error({
    title: 'Error',
    message: <%- JSON.stringify(error) %>,
    timeout: 5000,

    // CUSTOM SIZE
    maxWidth: 500,       // increase width (default ~350px)
    titleSize: '24px',   // bigger title font
    messageSize: '18px', // bigger message font
    padding: 30,         // more padding inside toast
    balloon: true,       // optional: makes it more prominent
  });
</script>
<% } %>


<%- include("../partials/footer") %>
